<section class="container">
    <h2 class="d-flex justify-content-center">Experiencia Laboral</h2>
    <div class="d-flex justify-content-start  align-items-center">
        <div>
            <img src=".///assets/img/job.png" alt="trabajo">
        </div>
        <div>
            <h3>Atención al cliente</h3>
            <p><span>01/01/2020</span> al <span>01/01/2020</span></p>
            <p>Atención al cliente, recepción de llamadas, resolución de problemas técnicos y de 
                facturación.
            </p>
        </div>
    </div>
    <div class="d-flex justify-content-start  align-items-center">
        <div>
            <img src=".///assets/img/job.png" alt="trabajo">
        </div>
        <div>
            <h3>Atención al cliente</h3>
            <p><span>01/01/2020</span> al <span>01/01/2020</span></p>
            <p>Atención al cliente, recepción de llamadas, resolución de problemas técnicos y de 
                facturación.
            </p>
        </div>
    </div>
    <div class="d-flex justify-content-start  align-items-center">
        <div>
            <img src=".///assets/img/job.png" alt="trabajo">
        </div>
        <div>
            <h3>Atención al cliente</h3>
            <p><span>01/01/2020</span> al <span>01/01/2020</span></p>
            <p>Atención al cliente, recepción de llamadas, resolución de problemas técnicos y de 
                facturación.
            </p>
        </div>
    </div>
   

</section>