<nav class="row">
    <div class="col-8 d-flex justify-content-start">
       <div  class="argprog" >
            <img class="ap" id="ap" src=".///assets/img/APLogo.png" alt="Logo Argentina Programa - Yo programo"> 
            <p>#YoProgramo</p>
       </div>
    </div>
    <div class="col-2 d-flex justify-content-end align-items-center redes">
        <a href="https://www.linkedin.com/in/melisa-barrera-a2039720a/"><img class="in" src=".///assets/img/in.png" alt="Logo linkeding"></a>
        <a href="https://github.com/Melisa500"><img class="gh" src=".///assets/img/github.png" alt="Logo GitHub"></a>
    </div>
    <div class="col-2 d-flex justify-content-center align-items-center">
        <button class="btn" type="button">Login</button>
    </div>
</nav>
