<nav class="row">
    <div class="col-8 d-flex justify-content-start">
       <div  class="argprog" >
            <img class="ap" id="ap" src=".///assets/img/APLogo.png" alt="Logo Argentina Programa - Yo programo"> 
            <p>#YoProgramo</p>
       </div>
    </div>
    <div class="col-2 d-flex justify-content-end align-items-center redes">
        <a href="https://www.linkedin.com/in/melisa-barrera-a2039720a/"><img class="in" src=".///assets/img/in.png" alt="Logo linkeding"></a>
        <a href="https://github.com/Melisa500"><img class="gh" src=".///assets/img/github.png" alt="Logo GitHub"></a>
    </div>
    <div class="col-2 d-flex justify-content-center align-items-center">
        <button class="btn" type="button">Login</button>
    </div>
</nav>
<header>
    <div class="container d-flex justify-content-evenly align-items-center">
        <div>
            <img src="https://images.unsplash.com/photo-1524650359799-842906ca1c06?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=580&q=80" alt="">
        </div>
        <div>
            <div class="bg-light text-dark bg-opacity-50 ">
                <h1>Melisa Barrera</h1>
                <h3>Full Stack Developer Jr</h3>
                <p>Hola! Me estoy capacitando en el desarrollo web Full Stack continuamente</p>
            </div>
        </div>
    </div>
</header>
