<section class="container">
    <h2 class="d-flex justify-content-center">Educación</h2>
    <div class="d-flex justify-content-start  align-items-center">
        <div>
            <img src=".///assets/img/edu.png" alt="trabajo">
        </div>
        <div>
            <h3>Desarrollo Web Full Stack con Node.js</h3>
            <h6>EducacionIT -Telecom</h6>
            <p><span>enero 2020</span> al <span>noviembre 2020</span></p>
        </div>
    </div>
    <div class="d-flex justify-content-start  align-items-center">
        <div>
            <img src=".///assets/img/edu.png" alt="trabajo">
        </div>
        <div>
            <h3>Desarrollo Web Full Stack con Node.js</h3>
            <h6>EducacionIT -Telecom</h6>
            <p><span>enero 2020</span> al <span>noviembre 2020</span></p>
        </div>
    </div>
    <div class="d-flex justify-content-start  align-items-center">
        <div>
            <img src=".///assets/img/edu.png" alt="trabajo">
        </div>
        <div>
            <h3>Desarrollo Web Full Stack con Node.js</h3>
            <h6>EducacionIT -Telecom</h6>
            <p><span>enero 2020</span> al <span>noviembre 2020</span></p>
        </div>
    </div>
    
    
</section>
