<section class="container">
    <h2 class="d-flex justify-content-center">Habilidades</h2>
     <div>
        <h3>Habilidades tecnológicas</h3>
        <div class="row">
             <div class="col-sm-3 col-md-2 col-lg-2 text-center">
                 <circle-progress
                     [percent]="85"
                     [radius]="50"
                     [imageSrc]="'.///assets/img/html.png'"
                     [showImage]="true"
                     [imageHeight]="40"
                     [imageWidth]="40"
                     [outerStrokeWidth]="8"
                     [innerStrokeWidth]="5"
                     [outerStrokeColor]="'#e75a7c'"
                     [innerStrokeColor]="'#bbc7a4'"
                     [animation]="true"
                     [animationDuration]="700"
                 ></circle-progress>
             </div>
             <div class="col-sm-3 col-md-2 col-lg-2 text-center">
                 <circle-progress
                     [percent]="85"
                     [radius]="50"
                     [imageSrc]="'.///assets/img/css.png'"
                     [showImage]="true"
                     [imageHeight]="40"
                     [imageWidth]="40"
                     [outerStrokeWidth]="8"
                     [innerStrokeWidth]="5"
                     [outerStrokeColor]="'#e75a7c'"
                     [innerStrokeColor]="'#bbc7a4'"
                     [animation]="true"
                     [animationDuration]="700"
                 ></circle-progress>
             </div>
             <div class="col-sm-3 col-md-2 col-lg-2 text-center">
                 <circle-progress
                     [percent]="85"
                     [radius]="50"
                     [imageSrc]="'.///assets/img/js.png'"
                     [showImage]="true"
                     [imageHeight]="40"
                     [imageWidth]="40"
                     [outerStrokeWidth]="8"
                     [innerStrokeWidth]="5"
                     [outerStrokeColor]="'#e75a7c'"
                     [innerStrokeColor]="'#bbc7a4'"
                     [animation]="true"
                     [animationDuration]="700"
                 ></circle-progress>
             </div>
             <div class="col-sm-3 col-md-2 col-lg-2 text-center">
                 <circle-progress
                     [percent]="85"
                     [radius]="50"
                     [imageSrc]="'.///assets/img/bootstrap.png'"
                     [showImage]="true"
                     [imageHeight]="40"
                     [imageWidth]="40"
                     [outerStrokeWidth]="8"
                     [innerStrokeWidth]="5"
                     [outerStrokeColor]="'#e75a7c'"
                     [innerStrokeColor]="'#bbc7a4'"
                     [animation]="true"
                     [animationDuration]="700"
                 ></circle-progress>
             </div>
             <div class="col-sm-3 col-md-2 col-lg-2 text-center">
                 <circle-progress
                     [percent]="85"
                     [radius]="50"
                     [imageSrc]="'.///assets/img/angular.png'"
                     [showImage]="true"
                     [imageHeight]="40"
                     [imageWidth]="40"
                     [outerStrokeWidth]="8"
                     [innerStrokeWidth]="5"
                     [outerStrokeColor]="'#e75a7c'"
                     [innerStrokeColor]="'#bbc7a4'"
                     [animation]="true"
                     [animationDuration]="700"
                 ></circle-progress>
             </div>
             <div class="col-sm-3 col-md-2 col-lg-2 text-center">
                 <circle-progress
                     [percent]="85"
                     [radius]="50"
                     [imageSrc]="'.///assets/img/java.png'"
                     [showImage]="true"
                     [imageHeight]="40"
                     [imageWidth]="40"
                     [outerStrokeWidth]="8"
                     [innerStrokeWidth]="5"
                     [outerStrokeColor]="'#e75a7c'"
                     [innerStrokeColor]="'#bbc7a4'"
                     [animation]="true"
                     [animationDuration]="700"
                 ></circle-progress>
             </div>
        </div>
     </div>
     <div>
        <h3>Habilidades blandas</h3>
        <div class="row">
             <div class="col-sm-3 col-md-2 col-lg-2 text-center">
                 <circle-progress
                     [percent]="85"
                     [radius]="50"
                     [imageSrc]="'.///assets/img/respeto.png'"
                     [showImage]="true"
                     [imageHeight]="40"
                     [imageWidth]="40"
                     [outerStrokeWidth]="8"
                     [innerStrokeWidth]="5"
                     [outerStrokeColor]="'#2c363f'"
                     [innerStrokeColor]="'#e75a7c'"
                     [animation]="true"
                     [animationDuration]="700"
                 ></circle-progress>
                 <p>Respeto hacia las demás personas</p>
             </div>
             <div class="col-sm-3 col-md-2 col-lg-2 text-center">
                 <circle-progress
                     [percent]="85"
                     [radius]="50"
                     [imageSrc]="'.///assets/img/equipo.png'"
                     [showImage]="true"
                     [imageHeight]="40"
                     [imageWidth]="40"
                     [outerStrokeWidth]="8"
                     [innerStrokeWidth]="5"
                     [outerStrokeColor]="'#2c363f'"
                     [innerStrokeColor]="'#e75a7c'"
                     [animation]="true"
                     [animationDuration]="700"
                 ></circle-progress>
                 <p>Trabajo en equipo</p>
             </div>
        </div>
     </div>
</section>